<div id="off-canvas" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar uk-dark uk-background-muted">

    <a class="uk-offcanvas-close" type="button" uk-close></a>

    <div class="uk-panel">
      <h3>
        Jacobs Alumni Association
      </h3>
      <ul class="uk-nav uk-nav-primary">
        <li><Link class="uk-active" href="/">Home</a></li>

        <li>
          <a href="/who-we-are">Who We Are</a>

          <ul class="uk-nav-sub">
            <li><a href="/alumni-association">Alumni Association</a>
              <ul class="uk-nav-sub">
                <li><a href="/charter">Alumni Charter</a></li>
                <li><a href="/by-laws">Contributions By-laws</a></li>
              </ul>
            </li>
            <li><a href="/alumni-board">Alumni Board</a>
              <ul class="uk-nav-sub">
                <li><a href="/board-news">Board News</a></li>
                <li><a href="/elections">Elections</a></li>
              </ul>
            </li>
            <li><a href="/class-reps">Class Reps</a></li>
            <li><a href="/alumni-profiles">Alumni Profiles</a></li>
          </ul>
        </li>
        <li>
          <a href="/what-we-do">What We Do</a>

          <ul class="uk-nav-sub">
            <li><a href="/newsletter">Newsletter</a></li>
            <li><a href="/campus-news">Campus News</a></li>
            <li><a href="/homecoming">Homecoming</a>
              <ul class="uk-nav-sub">
                <li>
                  <a href="/homecoming/2018">Homecoming 2018</a>
                </li>
                <li>
                  <a href="/homecoming/2017">Homecoming 2017</a>
                </li>
                <li>
                  <a href="/homecoming/2016">Homecoming 2016</a>
                  <ul class="uk-nav-sub">
                    <li><a href="/homecoming/2016/general-assembly">General Assembly</a></li>
                    <li><a href="/homecoming/2016/jacobs-gives">#JacobsGives</a></li>
                    <li><a href="/homecoming/2016/picture-gallery">Picture Gallery</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/homecoming/2015">Homecoming 2015</a>
                  <ul class="uk-nav-sub">
                    <li><a href="/homecoming/2015/general-assembly">General Assembly</a></li>
                    <li><a href="/homecoming/2015/picture-gallery">Picture Gallery</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/homecoming/2014">Homecoming 2014</a>
                  <ul class="uk-nav-sub">
                    <li><a href="/homecoming/2014/general-assembly">General Assembly</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/alumni-projects">Alumni Projects</a>
              <ul class="uk-nav-sub">
                <li><a href="/alumni-projects/alumni-consulting-initiative">Alumni Consulting Initiative</a></li>
                <li><a href="/alumni-projects/generation-fund">Generation Fund</a></li>
                <li><a href="/alumni-projects/alumni-scholarships">Alumni Scholarships</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/get-involved">Get Involved</a>

          <ul class="uk-nav-sub">
            <li><a href="/alumni-chapters">Alumni Chapters</a>
              <ul class="uk-nav-sub">
                <li><a href="/alumni-chapters/what-is-an-alumni-chapter">What is an Alumni Chapter?</a></li>
                <li><a href="/alumni-chapters/starting-a-chapter">Starting a chapter</a></li>
                <li><a href="/alumni-chapters/faq">FAQs</a></li>
              </ul>
            </li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/alumni-office">Alumni Office</a></li>
          </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</div>