---
  layout: plainarticle
  permalink: '/homecoming/2015/picture-gallery/'
  title: Homecoming 2015 - Picture Gallery

  groupImages:
    - '/media/what-we-do/homecoming/2015/group-pictures/DH-119-7373g.jpg'
    - '/media/what-we-do/homecoming/2015/group-pictures/DH-119-7365g.jpg'
    - '/media/what-we-do/homecoming/2015/group-pictures/DH-119-7349g.jpg'

  dinnerImages:
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7996.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7994.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7993.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7989.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7987.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7982.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7980.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7979.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7974.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7972.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7971.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7969.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7967.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7966.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7964.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7960.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7950.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7944.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7934.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7933.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7923.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7919.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7915.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7914.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7913.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7909.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7906.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7904.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7903.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7901.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7892.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7889.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7887.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7880.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7877.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7875.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7872.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7867.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7866.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7865.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7864.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7850.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7847.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7845.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7843.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7838.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7835.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7834.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7833.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7831.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7830.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7828.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7827.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7826.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7825.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7824.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7822.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7821.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7813.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7806.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7805.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7796.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7795.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7794.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7792.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7791.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7790.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7789.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7787.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7786.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7784.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7782.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7780.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7774.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7771.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7769.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7767.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7766.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7764.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7762.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7760.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7759.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7758.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7757.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7755.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7754.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7753.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7752.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7751.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7750.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7749.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7748.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7746.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7745.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7744.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7742.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7741.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7740.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7739.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7731.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7729.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7727.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7725.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7723.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7721.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7720.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7716.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7713.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7711.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7710.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7709.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7707.jpg'
    - '/media/what-we-do/homecoming/2015/dinner/DH-120-7703.jpg'

  bbqImages:
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-73821.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7383.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7384.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7385.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7387.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7388.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7389.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7391.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7392.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7396.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7397.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7400.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7401.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7402.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7403.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7405.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7406.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7409.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7412.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7413.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7415.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7417.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7419.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7420.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7421.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7422.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7425.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7426.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7427.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7428.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7429.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7431.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7432.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7433.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7434.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7436.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7437.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7438.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7439.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7441.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7443.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7444.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7445.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7447.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7448.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7449.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7450.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7451.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7453.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7456.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7458.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7460.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7461.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7462.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7463.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7464.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7466.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7468.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7470.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7471.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7472.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7473.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7475.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7477.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7478.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7482.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7484.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7485.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7486.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7488.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7490.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7491.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7493.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7494.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7496.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7499.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7500.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7501.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7504.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7505.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7507.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7511.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7515.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7516.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7518.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7520.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7521.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7522.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7524.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7526.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7527.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7528.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7530.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7531.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7533.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7536.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7539.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7541.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7544.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7545.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7546.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7548.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7549.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7551.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7552.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7555.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7560.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7564.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7566.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7568.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7571.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7572.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7573.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7574.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7580.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7585.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7588.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7592.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7593.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7594.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7595.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7597.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7598.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7600.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7602.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7603.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7605.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7606.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7607.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7608.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7609.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7610.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7615.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7616.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7617.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7621.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7622.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7624.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7625.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7626.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7628.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7630.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7631.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7637.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7644.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7647.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7650.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7654.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7655.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7656.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7657.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7658.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7659.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7660.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7661.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7663.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7664.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7667.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7670.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7671.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7673.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7684.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7687.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7688.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7689.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7693.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7695.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7696.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7698.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7382.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/DH-119-7696-e1452146521911.jpg'
    - '/media/what-we-do/homecoming/2015/bbq/11991322_618304263242_1961903959_o.jpg'
---

<p>
  <strong>
    <a href="https://drive.google.com/a/jacobs-alumni.de/folderview?id=0B12tib4CBut4Y2NaUFh3OGJGYWM&amp;usp=sharing">
      Click here
    </a> to download the images in full quality. Please note that you must be logged in to be able to do this.
  </strong>
</p>

<h2>Group images</h2>

{% include picture_gallery.html tiles=page.groupImages %}

<h2>Dinner</h2>

{% include picture_gallery.html tiles=page.dinnerImages %}

<h2>BBQ</h2>

{% include picture_gallery.html tiles=page.bbqImages %}

<p>
  Posted by Philipp Herzberg | October 19th, 2015
</p>