---
  layout: plainarticle
  permalink: '/elections/'
  title: Elections
---

<h2>Alumni Board Elections 2017</h2>

<p>
  The voting for this election has concluded.
</p>

<h3>Application for Assessor PR & Communications</h3>
{% include application.html application=site.data.applications17.lida %}

<h3>Application for Assessor Event Management</h3>
{% include application.html application=site.data.applications17.max %}

<p>
  Vote for the above candidates here. You can only vote once per registered user. If you don’t see the voting box at this point, you’ve probably voted already :)
</p>
<p>
  Voting is open until Sunday, 26th Mar. 2017, 23:59 CEST.
</p>
<p>
  If you encounter any issues, please contact <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>.
</p>

<hr/>

<!--
<h3>Position descriptions</h3>
<TabView tabNavId="position-descriptions-2017" pages={ election2017Descriptions } />

<hr/>
-->
<h2>Alumni Board Elections 2016</h2>

<p>
  The voting for this election has concluded.
</p>

<h3>Application for President</h3>
{% include application.html application=site.data.applications16.anne %}

<h3>Application for Vice-President</h3>
{% include application.html application=site.data.applications16.stefanR %}

<h3>Application for Secretary</h3>
{% include application.html application=site.data.applications16.razvan %}

<h3>Application for Treasurer</h3>
{% include application.html application=site.data.applications16.stefanK %}

<h3>Application for Assessor Network Development</h3>
{% include application.html application=site.data.applications16.annalena %}

<h3>Application for Assessor IT Resources</h3>
{% include application.html application=site.data.applications16.frederique %}

<p>
  Vote for the above candidates here. You can only vote once per registered user. If you don’t see the voting box at this point, you’ve probably voted already :)
</p>
<p>
  Voting is open until Friday, 23rd Sept. 2016, 14:00.
</p>
<p>
  If you encounter any issues, please contact support@jacobs-alumni.de.
</p>

<hr/>

<!--
<h3>Position descriptions</h3>
<TabView tabNavId="position-descriptions-2016" pages={ election2016Descriptions } />
-->

<p>
  Apply by email to <a href="mailto:apply@jacobs-alumni.de">apply@jacobs-alumni.de</a>.
</p>
<p>
  The application needs to be in the form of a short (max. 3 mins) video clip, explaining your motivation to run, and what ideas you bring to the table (please, do not send the video as an attachment but rather as a Google Drive shared link or any other file-sharing service you prefer to use). It can be accompanied by a max. 1 A4 page document that would help alumni better understand your background (similar to a resume). In addition, you can provide your LinkedIn and/or Xing profile link.
</p>
<p>
  NOTE: Your video WILL be cut at 3 minutes if you record beyond this limit!
</p>
<p>
  If you have any further questions on the role, the Alumni Board or the Association, please do not hesitate to get in touch with us via <a href="mailto:apply@jacobs-alumni.de">apply@jacobs-alumni.de</a>.
</p>

<!--
const election2017Descriptions = [{
  title: 'Assessor for PR & Communications',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B8rNJ2excuRGVC1FQkhZR3BHVkE/preview' />
}, {
  title: 'Assessor for Event Management',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B8rNJ2excuRGbFVtTUd4bkkyMUk/preview' />
}]

const election2016Descriptions = [{
  title: 'President',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxLVJRbnRkY1ltV1k/preview' />
}, {
  title: 'Vice President',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxbHpZUGtzWm9taTQ/preview' />
}, {
  title: 'Secretary',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxMVdqb3hXb3dlcTA/preview' />
}, {
  title: 'Treasurer',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxSi1aOE91a0dhQ1U/preview' />
}, {
  title: 'Assessor PR/Communications',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxS2NTZnRJZnJOS3c/preview' />
}, {
  title: 'Assessor IT Resources',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxR1JfYjBvYVhydDA/preview' />
}, {
  title: 'Assessor Network Development',
  content: <EmbedIFrame format={ 0.777 } src='https://drive.google.com/a/jacobs-alumni.de/file/d/0B5YL0usedcxxRVdQU005b2tYbHM/preview' />
}]
-->
